body 		{margin: 0; /* font-family: Helvetica, Arial, sans-serif; */}
/* HEADER */
.topbar		{min-height: 20px; background-color: #002d73; padding-bottom: 10px;}
.header 	{padding-left:0px; position: relative;}
#logo 		{position: absolute; top:2px; left:0; }
.header h1 	{padding-top: 85px; margin-top: 10px; font-size: 24px;}
.header img {max-height: 75px;}
.uonlogo 	{height: 75px; margin-left: 10px;}
.header p 	{font-size: 120%;}
.title  	{border-bottom: 5px solid #0099cc; margin-bottom: 5px; }
#selectbar select {margin-top: 10px; width: 100%; }

form		{display: inline; }

/* MAIN */
.main 		{margin-top: 20px;}
#title 		{margin-top: 0px; float: left;}
.reset 		{margin-top: 4px; float: right;}
h2 			{font-size: 24px;}
.main ul 	{margin-bottom: 0px; padding-left: 1em;}
.center 	{text-align: center;}

.table-striped>tbody>tr:nth-of-type(odd) { background-color: #EDEDED; /* was f9f9f9 */}
#table tr:hover {cursor: pointer; background-color: #cccccc; }		

.footer 	{margin-top: 20px; padding: 20px; background-color: #002d73}
.footer 	{margin-bottom: 1.5em;}
.footer p 	{color: white; margin: 20px 0;}
.footer a 	{color: white; text-decoration: none}
.footer a:hover 	{color: white; text-decoration: underline}

.modal-content h1	{font-size: 24px;}
.modal-body h2	{font-size: 20px;}
.modal-body dt 	{font-weight: 400;}
.modal-body dd 	{font-weight: 700;}
.modal-footer 	{text-align: left;}
.modal-footer button {float: right;}

/* MAP */
/* responsive svg see https://stackoverflow.com/questions/16265123/resize-svg-when-window-is-resized-in-d3-js */
/* aspect ratio: height/width ie 165% */

/* WANT THIS TO BE 50% WIDTH FOR PHONE & THEN SET MORE BELOW BUT NOT WORKING */

.svg-container 			{display: inline-block; position: relative; height: 0; width: 50%; margin-left: 25%;
						 vertical-align: top; overflow: hidden; padding-bottom: 82%; 
						/* padding = aspect ratio = width% * (height/width) eg 50% * 740/450 )*/}
.svg-content-responsive {display: inline-block; position: absolute; top: 0; left: 0;}

path:hover	{ stroke: #000; stroke-width: 3}
div.tooltip { position: absolute; text-align: left; width: 200px; /* height: 30px;*/ padding: 5px; font-size: 12px; background: #eee; pointer-events: none; }

.tooltip h4 	{margin-top:6px; border-bottom: 2px solid #ccc;}
.tooltip dt 	{width: 80px; font-weight: 400}
.tooltip dd 	{margin-left: 100px; font-weight: 700}

/* Tablets / 'Small' -- 1 col: small map*/
@media (min-width: 768px) {
	.header 		{padding-left:130px; }
	.header img 	{max-height: 100px;} /* was 125 */
	.uonlogo 		{height: 75px;}
	.header h1 		{padding-top: 0; font-size: 30px;}
	#selectbar select {width: auto; margin-left: 0; margin-right: 2em}
	h2 				{font-size: 30px;}

	/* MAP */
	.svg-container 	{width: 30%; margin-left: 35%; padding-bottom: 49.5%}
}

/* Desktop / "Medium' -- 2 col: map fill col width*/
@media (min-width: 992px) {
	.topbar			{min-height: 40px;}
	.header img 	{max-height: 125px;} 
	.header h1 		{font-size: 36px;}
	#selectbar 		{padding-left: 130px}

	th 				{white-space: nowrap;}
	/* MAP */
	.svg-container 	{width: 100%; margin-left: 0; padding-bottom: 165%}
}


