<!-- FOOTER -->
<div class="footer">
  <div class="container"> 
    <p><a href="/about/"><i class="fa fa-info-circle" aria-hidden="true"></i> About the project</a></p>
    <p><a href="/xxx.pdf"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i> Download the accompanying research report</a></p>
    <p>&copy; 2018 <a href="http://www.antislaverycommissioner.co.uk/">Independent Anti-Slavery Commissioner</a> and <a href="https://www.nottingham.ac.uk/world/beacons/rights-lab/">University of Nottingham</a></p>
  </div>
</div>


<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-74356418-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-74356418-4');
</script>