  <!-- HEADER -->
  <div class="topbar"> </div>
  <div class="container"> 
    <div class="header"> 
      <a href="http://www.antislaverycommissioner.co.uk/"><img id="logo" src="{{ "/iac-logo.png" | prepend: site.baseurl }}" alt="IASC logo" /></a>
      <div class="title">
        <a href="https://www.nottingham.ac.uk/world/beacons/rights-lab/"><img src="{{ "/rightslab500.png" | prepend: site.baseurl }}" class="uonlogo pull-right" alt="University of Nottingham logo"/></a>
        <h1>Modern Slavery Research in the UK</h1>
        <p class="hidden-xs">A map of current and ongoing research into the nature of, and responses to modern slavery</p>
      </div>
    </div>

      <div id="selectbar">
        <form id="dropdowns"><!-- JS inserts the drop downs --></form>
      </div>
  </div>
